.directory
.idea
.kdev4
__pycache__
*~
build
*.mo
dist
MANIFEST
*.pyc
.coverage
*.patch
_build
coverage.xml
.htmlreport
*.orig
*.diff
*.kdev4
*.patch
*.sublime-project
*.sublime-workspace
.python-version
coala.egg-info
.coverage.*
coala.1
src
site
.zanata-cache
org.coala_analyzer.v1.service
*.exe
.cache
*.eggs
