.DS_Store
.directory
.idea
.kdev4
__pycache__
*~
build
*.mo
dist
MANIFEST
*.pyc
.coverage
*.patch
_build
coverage.xml
htmlcov
*.orig
*.diff
*.kdev4
*.patch
*.sublime-project
*.sublime-workspace
.python-version
coala.egg-info
.coverage.*
coala.1
src
site
.zanata-cache
*.exe
.cache
*.eggs
node_modules
*.log
*.jar
.vendor
Goopfile.lock
venv/
rultor_secrets.sh
.vscode
