language: python

python:
  - "3.4"
  - "3.3"
  - "3.2"

addons:
  apt:
    sources:
    - deadsnakes

install:
  - sh .misc/.install.sh

script:
  # dbus-launch which sets environment variables and starts dbus-daemon
  - dbus-launch python3 ./run_tests.py --disallow-test-skipping
  - python3 setup.py install
  - coala -c .misc/.ci_coafile

after_success:
  - sh .misc/.success.sh
