language: python
python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6-dev

cache: pip

addons:
  apt:
    packages:
      - clang-3.4
    sources:
      - llvm-toolchain-precise

before_install:
  - export TRAVIS_PYTHON_VERSION_MAJOR=${TRAVIS_PYTHON_VERSION%.[0-9]}
  - export TRAVIS_PYTHON_VERSION_MINOR=${TRAVIS_PYTHON_VERSION#[0-9].}
  # https://github.com/coala/coala/issues/3183
  # Travis automatically installs the `requirements.txt` in "install" stage
  - cp requirements.txt requirements.orig
  - cat test-requirements.txt docs-requirements.txt >> requirements.txt
  - sed -i '/^-r/d' requirements.txt

before_script:
  # Restore the original requirements.txt
  - mv requirements.orig requirements.txt

script:
  - >
    if [[ $TRAVIS_PYTHON_VERSION_MINOR < 4 || $TRAVIS_PYTHON_VERSION_MAJOR == 2 ]]; then
      coverage run setup.py install | grep -q 'coala supports only python 3.4 or later'
    else
      set -e
      bash .misc/tests.sh
      python setup.py bdist_wheel
      pip install ./dist/coala-*.whl
      pip install coala-bears --pre -U
      # https://github.com/coala/coala-bears/issues/1037
      if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then
        python3 -m nltk.downloader punkt maxent_treebank_pos_tagger averaged_perceptron_tagger
      else
        sed -i '/bears = GitCommitBear/d' .coafile
      fi
      coala --non-interactive
      make -C docs clean
      python setup.py docs
    fi
  - bash .misc/deploy.coverage.sh

notifications:
  email: false
