language: python

notifications:
  recipients:
    - lasse@schuirmann.net
    - coding@neuschmidt.de
  email:
    on_failure: always
    on_success: change

python:
  - "3.4"
  - "3.3"
  - "3.2"

install:
  - pip install coveralls
  - pip install codecov
  - pip install scrutinizer-ocular

script:
  - sudo apt-get install espeak
  - python3 ./run_tests.py --cover --disallow-test-skipping
  - python3 setup.py install

after_success:
  - coveralls
  - ocular
  - codecov
