argcomplete~=1.8
coverage~=4.3.4
coverage-env-plugin~=0.1
coverage-config-reload-plugin~=0.2
codecov~=2.0.5
freezegun~=0.3.9
pytest~=3.1.1
pytest-cov~=2.2
pytest-env~=0.6.0
pytest-error-for-skips~=1.0
pytest-instafail~=0.3.0
pytest-mock~=1.1
pytest-reorder~=0.1.0
pytest-reqs~=0.0.6
pytest-timeout~=1.0
pytest-xdist~=1.14
requests-mock~=1.2.0
pip>=9.0.0
wheel~=0.29
urllib3~=1.21
