environment:
  GOPATH: c:\gopath
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\.misc\\run_with_env.cmd"

  matrix:
    - PYTHON: "C:\\Python34"
      PYTHON_VERSION: "3.4"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python34-x64"
      PYTHON_VERSION: "3.4"
      PYTHON_ARCH: "64"

cache:
  - "%GOPATH%"
  - "C:\\wheels"
  - "node_modules"

branches:  # Only build official branches, PRs are built anyway.
  only:
    - master
    - /release.*/

install:
  # Prepend newly installed Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""

  - "%CMD_IN_ENV% pip -q install wheel"
  # Create c:/wheels if it does not exist.
  - ps: If ( -not (Test-Path C:\\wheels) )  { mkdir C:\\wheels }
  - ECHO "Cached wheels:"
  - ps: "ls \"C:\\wheels\""
  - "%CMD_IN_ENV% pip -q wheel --use-wheel --wheel-dir C:\\wheels --find-links C:\\wheels -r test-requirements.txt"
  - "%CMD_IN_ENV% pip -q wheel --use-wheel --wheel-dir C:\\wheels --find-links C:\\wheels -r requirements.txt"
  - "%CMD_IN_ENV% pip -q install --find-links=C:\\wheels -r test-requirements.txt"
  - "%CMD_IN_ENV% pip -q install --find-links=C:\\wheels -r requirements.txt"
  - "%CMD_IN_ENV% pip -q install --upgrade astroid"
  # Calling setup.py will download checkstyle automatically so tests may succeed
  - "%CMD_IN_ENV% python setup.py --help"

build: false  # Not a C# project, build stuff at the test step instead.

test_script:
  - "%CMD_IN_ENV% python -m pytest --cov"
  - "%CMD_IN_ENV% python setup.py install"
