<div class="main-content container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="title-get-involved">about</div>
            <br>
            <p>coala provides a unified interface for linting and fixing all
              your code with a single configuration file, regardless of the
              programming languages you use. coala can be customized to fit
              your workflow and embedded into other tools with its CI and
              JSON output modes.</p>
            <p>coala supports various languages such as Python, C/C++, Java,
              JavaScript, CSS, and <a ng-href="https://coala.io/#!/languages">
                several others.</a>
            </p>
        </div>
    </div>

</div>
