<div class="main-content container-fluid">


    <div class="row">



        <div class="col-md-8 col-md-offset-2">
            <div class="title-get-involved" >get involved</div>
            <br>
            <div class="get-description">
                Take a look at our
                <a href="https://coala.io/newcomer" class="bear-link" >newcomer guide</a>
                to get quickstarted on coala contributions and open source!
            </div>
            <div class="get-description">
                At all times, you can just drop us a message on <a href="https://coala.io/chat" class="bear-link" >Gitter</a> -
                we'd love to help you personally.
            </div>
            <div class="get-description">
                If you are looking how to write code analysis,
                check our bear writing tutorial <a href="https://coala.io/writingbears" class="bear-link" >here</a>.
            </div>
        </div>
    </div>

</div>
<section>
    <div class="container"><br>

        <div class="gi-container-title">meet the community</div>
        <div class="description">We, the coalaians.
        </div>

    </div>
    <div class="container">
        <div class="row showcase-gi">
            <div  ng-repeat="member in gic.contributors | toArray | orderBy : 'reviews' : true | limitTo:totalDisplayed" class="card card-main showcase-card-gi">
                <div class="empty">
                </div>
                <div class="card-action profile-data center" >
                   <img class="profile-img center" height="100" ng-src="https://avatars.githubusercontent.com/{{ member.login }}">

                   <div class="person-name">{{ member.name }}</div>
                   <div class="person-github-id">@{{member.login}}</div>
                   <div class="person-github-bio"> {{member.bio }}</div>
                   <div class="center person-contributions-details">
                      <div class="row">
                        <div class="contribution-container">
                            <div class="col-xs1-4">
                                <div class="person-contributions">{{ member.contributions }}</div>
                                <div class="small-heading-light">COMMITS</div>
                            </div>
                            <div class="col-xs1-4">
                                <div class="person-contributions">{{ member.reviews }}</div>
                                <div class="small-heading-light">REVIEWS</div>
                            </div>
                            <div class="col-xs1-4">
                                <div class="person-contributions">{{ member.issues }}</div>
                                <div class="small-heading-light">ISSUES</div>
                            </div>
                        </div>
                    </div>
                    <a ng-href="https://github.com/{{ member.login }}" class="waves-effect github-link btn center"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        <a ng-click="loadMore()" class="waves-effect btn-large center">SHOW MORE CONTRIBUTORS</a>
    </div>
</div>
<div class="container events"><br>

    <div class="gi-container-title">come meet us</div>
    <div class="description">We’d love to share a bar of chocolate with you!
    </div><br>
    <div class="col-md-8 col-md-offset-2">
        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=hl3j7971mhoo6rhfkn3fcf5afk%40group.calendar.google.com&amp;color=%23875509&amp;src=jpmh8lq7evpptl8hmul9vfh267k1ab4i%40import.calendar.google.com&amp;color=%235F6B02&amp;ctz=Europe%2FBerlin" style="border-width:0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
</section>
