 <div class="container main-content">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <center>
                <img class="logo center" src="https://api.coala.io/en/latest/_static/images/coala_logo.svg">
            </center>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="title flow-text" >coala</div>
            <ul class="description description-links row flow-text ">
                <li class = "col-md-4 col-xs-4"><a class="chip" href = "https://docs.coala.io/"><i class="fa fa-book" aria-hidden="true"></i>DOCS</a></li>
                <li class = "col-md-4 col-xs-4"><a class="chip" href = "https://github.com/coala/coala/"><i class="fa fa-code" aria-hidden="true"></i>SOURCE</a></li>
                <li class = "col-md-4 col-xs-4"><a class="chip" href = "https://coala.io/chat"><i class="fa fa-commenting-o" aria-hidden="true"></i>CHAT</a></li>
            </ul>
            <div class="description flow-text">linting and fixing code for all languages</div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="install-tip">
            <div class="container-title">installation</div>

            <div class="dev-row row no-border">
                <div class="col-md-6">
                    <div class="tip-big">simply install coala</div>
                    <p>If any kind of dependency errors occur, use a virtualenv!</p>
                    <p>
                        For the full installation documentation, check
                        <a href="https://coala.io/install">coala.io/install</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <pre class="card card-content">$ pip3 install coala-bears</pre>
                    <p>You can append --pre to that command to get the latest prerelease straight from master!</p>
                </div>
            </div>

            <div class="dev-row row">
                <div class="col-md-6">
                    <div class="tip-big">get it in docker</div>
                    <p>The most simple way to get the full functionality if you use docker.</p>
                </div>
                <div class="col-md-6">
                    <pre class="card card-content">$ docker run -ti -v $(pwd):/app --workdir=/app coala/base coala --version</pre>
                    <p>
                        For more information, check out
                        <a href="https://coala.io/install#using-coala-with-docker">
                            our docker documentation
                        </a>.
                    </p>
                </div>
            </div>

            <div class="dev-row row">
                <div class="col-md-6">
                    <div class="tip-big">installing inside a virtualenv</div>
                    <p>Use those commands to create an environment, then simply install coala as described above.</p>
                </div>

                <div class="col-md-6">
<pre class="card card-content">
$ pip3 install virtualenv
$ virtualenv venv
$ source venv/bin/activate  # On Unix based systems
</pre>

                    <p>On Windows</p>
                    <pre class="card card-content">$ venv\scripts\activate</pre>
                </div>
            </div>
        </div>
    </div>
</section>

<section ng-controller="SnippetController as sc">
    <div class="container">
        <div class="examples" >
            <div class="container-title">getting started</div>

            <div class="row">
                <div class="col-md-4 example-select">
                    <select ng-init="sc.lang_selected='Python'" ng-model="sc.lang_selected" ng-options="lang for lang in sc.languages">
                        <option value="" disabled>Choose a Language</option>
                    </select>
                    <p>
                        Need more info?
                        <a href="https://coala.io/tutorial">
                            Read the full tutorial!
                        </a>
                    </p>
                    <p>
                        Your favourite language is missing?
                        <a href="https://github.com/coala/landing-frontend/blob/master/resources/js/snippets.js">
                            Submit an example on GitHub!
                        </a>
                    </p>
                </div>

                <div class="col-md-8 example-card">
                    <div btf-markdown ng-include="'data/snippets/' + sc.snip[sc.lang_selected]" class="card card-content"></div>
                </div>
            </div>
        </div>
    </div>
</section>
