<div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a ng-click="tc.setTab(1)" ng-class={active:tc.isSet(1)}>Home</a></li>
                    <li class="tab col s3"><a ng-click="tc.setTab(2)" ng-class={active:tc.isSet(2)}>Languages</a></li>
                    <li class="tab col s3"><a ng-click="tc.setTab(3)" ng-class={active:tc.isSet(3)}>Get Involved</a></li>
                    <li class="tab col s3"><a ng-click="tc.setTab(4)" ng-class={active:tc.isSet(4)}>Try Coala!</a></li>
                </ul>
            </div>
        </div>
    </div>


<div ng-show="tc.isSet(1)"><home></home></div>
<div ng-show="tc.isSet(3)"><getinvolved></getinvolved></div>
<script type="text/javascript">
$(document).ready(function () {
            $('ul.tabs').tabs();
})

</script>
