<div>
  <div class="row">
    <div class="col m8 offset-m2 s12">
      <form class="coa-form">
        <textarea placeholder="Write some code here" class="file-data bb-data pre small" name="file_data">print( a + b )
</textarea>  <!-- DONT EVER INDENT THIS, it ends up in the textarea -->
        <div class="col s10 m11 l11">
          <div class="chips chips-bears bb-chips" ng-show="toc.done_loading_bears"></div>
        </div>
        <div class="col s2 m1 l1">
          <button class="btn-floating waves-effect" type="submit" ng-click="toc.submit_coa_form()"><i class="material-icons right">send</i></button></div>
        </div>
      </form>
    </div>
  </div>
    <div ng-show="toc.diff_loader">
        <div class="row">
            <div class="progress center col m4 offset-m4">
                <div class="indeterminate"></div>
            </div>
        </div>
        <div class="center">Warming up the bears!</div>
    </div>
  <div class="row">
    <div class="col offset-m2 m8 s12" ng-show="toc.diff_data_status">
        <h4 class="uppercase"><strong>Results</strong></h4>
        <div class="results-data">
            <div class="origin-diff" ng-show="toc.error_on_run">{{toc.error_message}}
            </div>
            <div ng-repeat="data in toc.diff_data" class="results card blue-grey lighten-4" ng-hide="toc.error_on_run">
            <span class="origin">{{data.origin}}</span>
            <span class="severity">Severity : {{data.severity}}</span>
            <div class="label">Message :
            <span>{{data.message}}</span>
            </div>
            <div ng-repeat="(diff,val) in data.diffs">
            <pre>{{val}}</pre>
            </div>
            </div>
        </div>
    </div>
  </div>
</div>
