<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
    	<form class="coa-form">
    		<textarea placeholder="Write some code here" class="file-data bb-data" name="file_data">print( a + b )
</textarea>  <!-- DONT EVER INDENT THIS, it ends up in the textarea -->
    		<textarea placeholder="Type in some bears (separated by comma)" class="bear-data bb-data" name="bears">PEP8Bear</textarea>

    		<button type="submit" ng-click="toc.submit_coa_form()" class="btn waves-effect submit-coa-form">RUN coala!</button>
    	</form>
    </div>
  </div>
	<div ng-show="toc.diff_loader">
		<div class="row">
			<div class="progress center col-md-4 col-md-offset-4">
				<div class="indeterminate"></div>
			</div>
		</div>
		<div class="center">Warming up the bears!</div>
	</div>
  <div class="row">
	<div class="col-md-offset-2 col-md-8 col-xs-12" ng-show="toc.diff_data_status">
		<div class="report-title">RESULTS</div>
		<div class="results-data">
			<div ng-repeat="data in toc.diff_data" class="results-row">
				<span class="origin-diff">{{data.origin}}</span>
				<span class=" severity-diff">Severity : {{data.severity}}</span>
				<div class="data-diff">Message : <span class="diff-msg">{{data.message}}</span></div>
				<div ng-repeat="(diff,val) in data.diffs"><pre class="val-diff">{{val}}</pre></div>
			</div>
		</div>
	</div>
  </div>
</div>
